<section class="articles">
  <div class="articles__container container flex">
    <div class="articles-content">
      <div class="articles__left">
        <div class="articles__up flex">
          <img class="articles__icon" src="img/icon.svg" alt="">
          <div class="articles__text">
            <h3 class="articles__subtitle title-reset">By&nbsp;Benjamin Turner</h3>
           <p class="articles__desc title-reset">Traveler</p>
          </div>
        </div>
        <div class="articles__center">
          <a href="#" class="articles__link">Destinations</a>
          <h2 class="articles__title title-reset">In&nbsp;Southeast England, White Cliffs and Fish</h2>
          <div class="articles__content flex">
            <button class="articles__btn btn btn-reset">Read more</button>
            <img class="articles__icon" src="img/play.svg" alt="">
            <div class="articles__text">
              <h3 class="articles__subtitle title-reset">The chalk cliff of&nbsp;Beachy Head</h3>
             <p class="articles__desc title-reset">18:05</p>
            </div>
          </div>
        </div>
      </div>
      <div class="articles__right">
        <div class="articles__cards">
          <h3 class="articles__headline title-reset">Recommended for you</h3>
          <div class="articles__card articles__card--active">
            <h4 class="articles__caption articles__food title-reset">Food</h4>
            <p class="articles__slog title-reset">articles Chicken-Fried Steak, Too Much Is&nbsp;Just Enough</p>
          </div>
          <div class="articles__card articles__card">
            <h4 class="articles__caption articles__cars title-reset">Cars</h4>
            <p class="articles__slog title-reset">Storm Has Car Dealers Doing Swift Business</p>
          </div>
          <div class="articles__card">
            <h4 class="articles__caption articles__movie title-reset">Movies</h4>
            <p class="articles__slog title-reset">War Is&nbsp;Hell? In&nbsp;New Military Dramas, It&rsquo;s One-Dimensional</p>
          </div>
          <div class="articles__card">
            <h4 class="articles__caption articles__nfl title-reset">NFL</h4>
            <p class="articles__slog title-reset">11&nbsp;surprising stat rankings articles active NFL players</p>
          </div>
          <div class="articles__card">
            <h4 class="articles__caption articles__tech title-reset">Tech Reviews</h4>
            <p class="articles__slog title-reset">The bookcases you can buy online and assemble yourself</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
