<section class="article-news">
  <div class="container article-news__container flex">
    <div class="article-news__cards">
      <div class="article-news__card article-news__card--up flex">
        <img class="article-news__image" src="img/article1.png" alt="" >
       <div class="article-news__text">
        <div class="article-news__top flex">
          <span class="article-news__title article-news__title--flight title-reset">Flights</span>
          <button class="article-news__btn btn-reset">
            <svg class="article-news__img">
              <use xlink:href="img/sprite.svg#bookmark"></use>
            </svg>
          </button>
        </div>
        <h2 class="article-news__subtitle title-reset">Passengers Suffer as&nbsp;Crowded Field Puts Pressure on&nbsp;Europe&rsquo;s Airlines</h2>
        <p class="article-news__desc title-reset">Weaker carriers have fallen by&nbsp;the wayside amid fierce competition, while others have been hit by&nbsp;bad luck. The result: thousands of&nbsp;canceled flights.</p>
        <div class="article-news__text-down">
          <span class="article-news__date date">Aug&nbsp;6</span>
          <span class="article-news__comm comm">342</span>
          <span class="article-news__like like">830</span>
        </div>
       </div>
      </div>
      <div class="article-news__card flex">
        <img class="article-news__image" src="img/article2.png" alt="" >
       <div class="article-news__text">
        <div class="article-news__top flex">
          <span class="article-news__title article-news__title--food title-reset">Food</span>
          <button class="article-news__btn btn-reset">
            <svg class="article-news__img">
              <use xlink:href="img/sprite.svg#bookmark"></use>
            </svg>
          </button>
        </div>
        <h2 class="article-news__subtitle title-reset">Three Courses, 20&nbsp;Euros: The Affordable Dining Renaissance in&nbsp;Paris</h2>
        <p class="article-news__desc title-reset">The Los Angeles area, for all of&nbsp;its culinary diversity, has not historically been thought of&nbsp;as&nbsp;a&nbsp;haven for bread lovers. The area has a&nbsp;reputation as&nbsp;a&nbsp;place where gluten fears to&nbsp;tread.</p>
        <div class="article-news__text-down">
          <span class="article-news__date date">Oct&nbsp;7</span>
          <span class="article-news__comm comm">27</span>
          <span class="article-news__like like">129</span>
        </div>
       </div>
      </div>
      <div class="article-news__card flex">
        <img class="article-news__image" src="img/article3.png" alt="" >
       <div class="article-news__text">
        <div class="article-news__top flex">
          <span class="article-news__title article-news__title--science title-reset">Science</span>
          <button class="article-news__btn btn-reset">
            <svg class="article-news__img">
              <use xlink:href="img/sprite.svg#bookmark"></use>
            </svg>
          </button>
        </div>
        <h2 class="article-news__subtitle title-reset">Watch the High-Flying Physics of&nbsp;a&nbsp;Plant&rsquo;s Exploding Fruits</h2>
        <p class="article-news__desc title-reset">Three undergradute physics majors and their professor worked out how the hairyflower wild petunia shoots tiny seeds more than 20&nbsp;feet through the air</p>
        <div class="article-news__text-down">
          <span class="article-news__date date">Oct&nbsp;11</span>
          <span class="article-news__comm comm">30</span>
          <span class="article-news__like like">284</span>
        </div>
       </div>
      </div>
      <div class="article-news__card flex">
        <img class="article-news__image" src="img/article4.png" alt="" >
        <div class="article-news__text">
          <div class="article-news__top flex">
            <span class="article-news__title article-news__title--health title-reset">Health</span>
            <button class="article-news__btn btn-reset">
              <svg class="article-news__img">
                <use xlink:href="img/sprite.svg#bookmark"></use>
              </svg>
            </button>
          </div>
        <h2 class="article-news__subtitle title-reset">How the Shape of&nbsp;Your Ears Affects What You Hear</h2>
        <p class="article-news__desc title-reset">We&rsquo;re able to&nbsp;locate sound because our brains grasp the shape of&nbsp;our ears. When that shape changes, we&nbsp;need time and practice to&nbsp;adapt. Ears are a&nbsp;peculiarly individual piece of&nbsp;anatomy.</p>
        <div class="article-news__text-down">
          <span class="article-news__date date">Oct&nbsp;19</span>
          <span class="article-news__comm comm">102</span>
          <span class="article-news__like like">1,293</span>
        </div>
        </div>
      </div>
      <div class="article-news__card flex">
        <img class="article-news__image" src="img/article5.png" alt="" >
       <div class="article-news__text">
        <div class="article-news__top flex">
          <span class="article-news__title article-news__title--science title-reset">Science</span>
          <button class="article-news__btn btn-reset">
            <svg class="article-news__img">
              <use xlink:href="img/sprite.svg#bookmark"></use>
            </svg>
          </button>
        </div>
        <h2 class="article-news__subtitle title-reset">Forests Protect the Climate. A&nbsp;Future With More Storms Would Mean Trouble.</h2>
        <p class="article-news__desc title-reset">With an&nbsp;increase in&nbsp;extreme weather expected in&nbsp;the years to&nbsp;come, forests could be&nbsp;changed permanently as&nbsp;the world continues to&nbsp;warm</p>
        <div class="article-news__text-down">
          <span class="article-news__date date">Oct&nbsp;22</span>
          <span class="article-news__comm comm">5</span>
          <span class="article-news__like like">82</span>
        </div>
       </div>
      </div>
      <div class="article-news__card-bottom flex">
        <img class="article-news__image" src="img/article6.png" alt="" >
        <div class="article-news__text">
          <div class="article-news__top flex">
            <span class="article-news__title article-news__title--art title-reset">Art &amp;&nbsp;Design</span>
            <button class="article-news__btn btn-reset">
              <svg class="article-news__img">
                <use xlink:href="img/sprite.svg#bookmark"></use>
              </svg>
            </button>
          </div>
        <h2 class="article-news__subtitle title-reset">New Contemporary Institute Reverberates in&nbsp;Richmond&rsquo;s Historic Landscape</h2>
        <p class="article-news__desc title-reset">The center, which will open in&nbsp;April, takes a&nbsp;bold look at&nbsp;race and other social issues that still resonate in&nbsp;the region as&nbsp;well as&nbsp;the nation. A&nbsp;new Institute for Contemporary Art is&nbsp;set to&nbsp;open.</p>
        <div class="article-news__text-down">
          <span class="article-news__date date">Oct&nbsp;26</span>
          <span class="article-news__comm comm">101</span>
          <span class="article-news__like like">432</span>
        </div>
        </div>
      </div>
    </div>
    <div class="article-news__right">
      <h2 class="article-news__slog title-reset">Recommended for you</h2>
      <div class="article-news__right-card flex">
        <img class="article-news__pic" src="img/bg-art1.png" alt="">
        <div class="article-news__text">
          <p class="article-news__slogan title-reset">Office Meetings Leave the Office</p>
          <span class="article-news__date  title-reset">15&nbsp;minuts ago</span>
      </div>
     </div>
     <div class="article-news__right-card flex">
      <img class="article-news__pic" src="img/bg-art2.png" alt="">
      <div class="article-news__text">
        <p class="article-news__slogan title-reset">Experimental Vocal Music in Brooklyn</p>
        <span class="article-news__date  title-reset">32&nbsp;minuts ago</span>
    </div>
   </div>
   <div class="article-news__right-card flex">
    <img class="article-news__pic" src="img/bg-art3.png" alt="">
    <div class="article-news__text">
      <p class="article-news__slogan title-reset">Google&rsquo;s Influence Over Think Tanks</p>
      <span class="article-news__date  title-reset">38&nbsp;minuts ago</span>
  </div>
 </div>
 <div class="article-news__right-card flex">
  <img class="article-news__pic" src="img/bg-art4.png" alt="">
  <div class="article-news__text">
    <p class="article-news__slogan title-reset">Homes for Sale in&nbsp;NYC and Connecticut</p>
    <span class="article-news__date  title-reset">53&nbsp;minuts ago</span>
</div>
</div>
<div class="article-news__right-card flex">
  <img class="article-news__pic" src="img/bg-art5.png" alt="">
  <div class="article-news__text">
    <p class="article-news__slogan title-reset">Are You There, Dad? It&rsquo;s Me, Alice</p>
    <span class="article-news__date  title-reset">1&nbsp;hour ago</span>
</div>
</div>
<div class="article-news__right-card flex">
  <img class="article-news__pic" src="img/bg-art6.png" alt="">
  <div class="article-news__text">
    <p class="article-news__slogan title-reset">The New Punk Look: Lacy and Colorful</p>
    <span class="article-news__date  title-reset">1&nbsp;hour ago</span>
</div>
</div>
<div class="article-news__right-card flex">
  <img class="article-news__pic" src="img/bg-art7.png" alt="">
  <div class="article-news__text">
    <p class="article-news__slogan title-reset">Sunday Best in&nbsp;Harlem and Brooklyn</p>
    <span class="article-news__date  title-reset">2 hours ago</span>
</div>
</div>
<a href="#" class="article-news__more">Read more</a>
    </div>
  </div>
</section>
