<section class="card">
  <div class="card__container container">
    <div class="card__left grid">
      <div class="card__up flex">
        <div class="card__car">
          <p class="card__text-car title-reset">Cars</p>
          <h2 class="card__title title-reset">The joy of&nbsp;replicas: A&nbsp;$&nbsp;5&nbsp;million car for $&nbsp;50,000</h2>
          <p class="card__desc title-reset">The 31-year-old self-taught engineer and former amateur racer spends his days building artful recreations of&nbsp;one of&nbsp;most iconic sports cars</p>
          <div class="car__bottom bottom flex-h-center">
            <img class="bottom__icon" src="img/woman.svg" alt="icon">
            <p class="bottom__text title-reset">Jessica Miller:</p>
            <p class="bottom__desc title-reset">Even as&nbsp;the ride-hailing service&rsquo;s future remem...</p>
            <span class="bottom__comment">342</span>
          </div>
        </div>
        <div class="card__card-second">
          <p class="card__green title-reset">Popular</p>
          <p class="card__text-second title-reset">Art &amp;&nbsp;Design</p>
          <h2 class="card__headline title-reset">Invisible ink: the weird world of&nbsp;tattoo removal&nbsp;&mdash; in&nbsp;pictures</h2>
          <div class="card__bottom flex">
            <img class="card__avatar" src="img/woman.svg" alt="" width="45" >
           <div class="card__text-second flex">
            <span class="card__name">By&nbsp;Sarah Jenkins</span>
            <div class="card__text-down">
              <span class="card__date--b date">Sept&nbsp;26</span>
              <span class="card__comm--b">16</span>
              <span class="card__like--b">832</span>
            </div>
           </div>
          </div>
        </div>
    </div>

     <div class="card__down grid">
      <div class="card__card-cat">
        <img class="card__cat" src="img/cat.png" alt="">
        <p class="card__cat-text">200+ Doomed Cats Saved From Euthanization</p>
      </div>
      <div class="card__all grid">
        <div class="card__card">
          <h2 class="card__subtitle title-reset">Is&nbsp;Coffee Bad for Bones?</h2>
          <p class="card__desc">Coffee drinkers may excrete more calcium, but it&nbsp;doesn&rsquo;t appear to&nbsp;weaken bones</p>
          <p class="card__date--ac date title-reset">Oct&nbsp;15</p>
        </div>
        <div class="card__card">
          <h2 class="card__subtitle title-reset">It&rsquo;s a&nbsp;Stressful World</h2>
          <p class="card__desc">Can a&nbsp;cruise skeptic enjoy four days on&nbsp;the seas with his family and a&nbsp;bunch of&nbsp;princesses?</p>
          <p class="card__date--ac date">Oct 14</p>
        </div>
        <div class="card__card ">
          <h2 class="card__subtitle title-reset">What We&nbsp;Manufacture</h2>
          <p class="card__desc">A&nbsp;global history of&nbsp;the factory and the modern world that all should read</p>
          <p class="card__date--ac date">Oct&nbsp;14</p>
        </div>
        <div class="card__card ">
          <h2 class="card__subtitle title-reset">A&nbsp;Treat for Lemon Lovers</h2>
          <p class="card__desc">This tangerine, ginger and chocolate tart has verve, depth and a&nbsp;hint of&nbsp;spice</p>
          <p class="card__date--ac date">Oct&nbsp;13</p>
        </div>
      </div>
      </div>
    </div>
    <div class="cards-right">
      <h2 class="cards-right__title">Columns</h2>
      <div class="card-right">
        <h2 class="card-right__title">Architecture is&nbsp;the thoughtful making of&nbsp;space</h2>
        <div class="card-right--bottom flex">
          <img class="card-raght__image" src="" alt="">
          <div class="card-right--bottom__text">
            <span class="card-right--bottom__name">David Williams</span>
            <span class="card-right--bottom__prof">Architect</span>
          </div>
        </div>
      </div>
      <div class="card-right">
        <h2 class="card-right__title">The details are not the details. They make the design.</h2>
        <div class="card-right--bottom flex">
          <img class="card-raght--bottom__image" src="" alt="">
          <div class="card-right--bottom__text">
            <span class="card-right--bottom__name">Alexandra Green</span>
            <span class="card-right--bottom__prof">Interior designer</span>
          </div>
        </div>
      </div>
      <div class="card-right">
        <h2 class="card-right__title">Live life to&nbsp;the fullest, and focus on&nbsp;the positive</h2>
        <div class="card-right--bottom flex">
          <img class="card-raght--bottom__image" src="" alt="">
          <div class="card-right--bottom__text">
            <span class="card-right--bottom__name">Olivia Thompson</span>
            <span class="card-right--bottom__prof">Coacher</span>
          </div>
        </div>
      </div>
      <a class="card-right__link" href="#">Read more</a>
    </div>
  </div>
</section>
