<section class="careers">
  <div class="careers__container container flex">

      <div class="swiper careers__slider">
        <div class="swiper-wrapper">

          <div class="swiper-slide careers-slide">
            <span class="careers-slide__status">Hot</span>
            <div class="careers-slide__top">
              <img class="careers-slide__avatar" src="img/careers-avatar.png" alt="User avatar">
              <h3 class="careers-slide__name title-reset">By&nbsp;Sarah Jenkins</h3>
              <span class="careers-slide__text">Photographer</span>
            </div>
            <h2 class="careers-slide__title title-reset">Readers&rsquo; Choice winners: Your wine country favorites</h2>
            <button class="careers-slide__btn btn-reset">Watch photos <span class="careers__num">26</span></button>
          </div>
          <div class="swiper-slide careers-slide">Slide 2</div>
          <div class="swiper-slide careers-slide">Slide 3</div>
          <div class="swiper-slide careers-slide">Slide 4</div>
          <div class="swiper-slide careers-slide">Slide 5</div>
        </div>

        <div class="swiper-pagination careers__pagination"></div>
      </div>
      <div class="careers__cards">
        <div class="careers__card--big">
          <h2 class="careers__title title-reset">Careers</h2>
          <h3 class="careers__subtitle title-reset">Had a&nbsp;Job Interview but No&nbsp;Callback? Here&rsquo;s What to&nbsp;Do</h3>
          <p class="careers__descr title-reset">Try to&nbsp;understand the culture of&nbsp;the company where you want to&nbsp;work and be&nbsp;authentic in&nbsp;your interview, experts emphasize</p>
          <button class="careers__btn btn btn-reset">Read more</button>
        </div>
        <div class="careers__bottom flex">
          <div class="careers__card">
            <h2 class="careers__sub title-reset">Is&nbsp;Coffee Bad for Bones?</h2>
            <h3 class="careers__desc">Coffee drinkers may excrete more calcium, but it&nbsp;doesn&rsquo;t appear to&nbsp;weaken bones</p>
            <p class="careers__date--ac date title-reset">Oct&nbsp;15</h3>
          </div>
          <div class="careers__card">
            <h2 class="careers__sub title-reset">What We&nbsp;Manufacture</h2>
            <h3 class="careers__desc">A&nbsp;global history of&nbsp;the factory and the modern world that all should read</h3>
            <p class="careers__date--ac date">Oct&nbsp;14</p>
          </div>
        </div>
      </div>

  </div>
</section>
