<footer class="footer">
  <div class="footer__container container flex-v-column flex-h-center">
    <h2 class="footer__title title-reset">Subscribe now and get&nbsp;20% off</h2>
    <div class="footer__e-mail flex">
      <input class="footer__email input-reset" type="email" placeholder="Enter your email">
      <button class="footer__btn btn btn-reset">Subscribe</button>
    </div>
    <div class="footer__lists flex">
      <div class="footer__list-red footer__list flex-v-column">
        <h2 class="footer__subtitle title-reset">News</h2>
        <a class="footer__link" href="#">Nation</a>
        <a class="footer__link" href="#">World</a>
        <a class="footer__link" href="#">Politics</a>
        <a class="footer__link" href="#">Solar Eclipse</a>
      </div>
      <div class="footer__list-purple footer__list flex-v-column">
        <h2 class="footer__subtitle title-reset">Arts</h2>
        <a class="footer__link" href="#">Art &amp;&nbsp;Design</a>
        <a class="footer__link" href="#">Movies</a>
        <a class="footer__link" href="#">People</a>
        <a class="footer__link" href="#">Video: Arts</a>
        <a class="footer__link" href="#">Theater</a>
      </div>
      <div class="footer__list-blue footer__list flex-v-column">
        <h2 class="footer__subtitle title-reset">Travel</h2>
        <a class="footer__link" href="#">Destinations</a>
        <a class="footer__link" href="#">Flights</a>
        <a class="footer__link" href="#">Business Travel</a>
      </div>
      <div class="footer__list-orange footer__list flex-v-column">
        <h2 class="footer__subtitle title-reset">Sports</h2>
        <a class="footer__link" href="#">Olympics</a>
        <a class="footer__link" href="#">Motor Sports</a>
        <a class="footer__link" href="#">Volleyball</a>
        <a class="footer__link" href="#">MMA</a>
        <a class="footer__link" href="#">Cycling</a>
      </div>
      <div class="footer__list-green footer__list flex-v-column">
        <h2 class="footer__subtitle title-reset">Tech</h2>
        <a class="footer__link" href="#">Tech Columnists</a>
        <a class="footer__link" href="#">Tech Reviews</a>
        <a class="footer__link" href="#">Talking Tech</a>
      </div>
      <div class="footer__list-grey footer__list flex-v-column">
        <h2 class="footer__subtitle title-reset">Moneys</h2>
        <a class="footer__link" href="#">Markets</a>
        <a class="footer__link" href="#">Business</a>
        <a class="footer__link" href="#">Personal Finance</a>
        <a class="footer__link" href="#">Retirement</a>
        <a class="footer__link" href="#">Careers</a>
      </div>
    </div>
    <div class="footer__contacts flex">
     <div class="footer__contacts-right flex-h-center">
      <img class="footer__logo" src="img/footer-logo.svg" alt="logo">
      <a class="footer__contact-link" href="#">Contact&nbsp;Us</a>
      <a class="footer__contact-link" href="#">Work with&nbsp;Us</a>
      <a class="footer__contact-link" href="#">Advertise</a>
      <a class="footer__contact-link" href="#">Your Ad&nbsp;Choise</a>
     </div>
     <div class="footer__contacts-left">
      <a class="footer__left-link" href="#"><img class="footer__left-media" src="img/facebook.svg" alt="Facebook"></a>
      <a class="footer__left-link" href="#"><img class="footer__left-media" src="img/twitter.svg" alt="Twitter"></a>
      <a class="footer__left-link" href="#"><img class="footer__left-media" src="img/youtube.svg" alt="YouTube"></a>
      <a class="footer__left-link" href="#"><img class="footer__left-media" src="img/inst.svg" alt="Inst"></a>
     </div>
    </div>
    <div class="footer__bottom flex">
      <p class="footer__text title-reset">Universal&rsquo;s business concept is&nbsp;to&nbsp;offer fashion and quality at&nbsp;the best price in&nbsp;a&nbsp;sustainable way. Universal has since it&nbsp;was founded in&nbsp;2015 grown into one of&nbsp;the world&rsquo;s leading fashion companies.</p>
      <span class="footer__desc title-reset">&copy;&nbsp;2019 Universal UI&nbsp;Kit</span>
    </div>
  </div>
</footer>
