<header class="header">
  <div class="header__container container">
    <div class="header__up flex-h-center">

        <div class="header__right">
          <button class="header__btn btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
            <span class="burger__line"></span>
        </button>
        <span class="header__sect">Sections</span>
        <input class="header__search input-reset" type="searcg" placeholder="Search">
        </div>
      <div class="header__left flex">
        <img class="header__left-img" src="img/header__img.png" alt="" >
        <div class="text">
          <p class="header__left-text title-reset">Subscribe Now</p>
        <p class="header__left-dsc title-reset">3&nbsp;month for $19</p>
        </div>
        <a class="header__sing title-reset">Sign&nbsp;In</a>
      </div>
    </div>
    <div class="header__center flex-h-center">
      <img class="header__imge" src="img/statue.svg" alt="statue">
      <p class="header__text title-reset">Boston and New York Bear Brunt</p>
      <a class="header__logo" href="#" ><img class="header__image" src="img/logo.svg" alt="logo" ></a>
      <p class="header__text">Monday, January&nbsp;1, 2018</p>
      <span class="header__temp">&mdash;&nbsp;23&nbsp;&deg;C</span>
    </div>
    <div class="header__nav">
      <ul class="header__list list-reset flex-h-center">
        <li class="header__item"><a class="header__link" href="#">News</a></li>
        <li class="header__item"><a class="header__link" href="#">Opinion</a></li>
        <li class="header__item"><a class="header__link" href="#">Science</a></li>
        <li class="header__item"><a class="header__link" href="#">Life</a></li>
        <li class="header__item"><a class="header__link" href="#">Travel</a></li>
        <li class="header__item"><a class="header__link" href="#">Moneys</a></li>
        <li class="header__item"><a class="header__link" href="#">Art &amp;&nbsp;Design</a></li>
        <li class="header__item"><a class="header__link" href="#">Sports</a></li>
        <li class="header__item"><a class="header__link" href="#">People</a></li>
        <li class="header__item"><a class="header__link" href="#">Health</a></li>
        <li class="header__item"><a class="header__link" href="#">Education</a></li>
      </ul>
    </div>
  </div>
</header>
