<section class="hero">
  <div class="hero__container container">
    <div class="hero__cards flex-h-center">
      <div class="hero__card flex-h-center">
        <p class="hero__text title-reset">25&nbsp;Songs That Tell Us&nbsp;Where Music Is&nbsp;Going</p>
        <img class="hero__image" src="img/guitar.png" alt="soungs">
      </div>
      <div class="hero__card flex-h-center">
        <p class="hero__text title-reset">These Ancient Assassins Eat Their Own Kind</p>
        <img class="hero__image" src="img/butterfly.png" alt="butterfly">
      </div>
      <div class="hero__card flex-h-center">
        <p class="hero__text title-reset">How Do&nbsp;You Teach People to&nbsp;Love Difficult Music?</p>
        <img class="hero__image" src="img/man.png" alt="man">
      </div>
      <div class="hero__card-last flex-h-center">
        <p class="hero__text title-reset">International</br> Soccer&rsquo;s Man of&nbsp;</br>Mystery</p>
        <img class="hero__image" src="img/stadion.png" alt="stadion">
      </div>
    </div>
  </div>
</section>
